<div class="confirm-email-container" style="display: none;">
    <div class="confirm-email-form">
        <div class="form_title">Регистрация</div>
        <p class="info-text">На указанную почту отправлено письмо с кодом подтверждения</p>
        <input type="text" id="code_confirm" placeholder="Введите код подтверждения" />
        <div class="button_confirm_container">
            <button class="button_confirm send_confirm">Отправить</button>
            <button class="button_confirm button_confirm_close">Закрыть</button>
        </div>
        <p1 class="warning">При закрытии данной формы регистрация не будет завершена</p1>
    </div>
    <div class="overlay"></div>
</div>
