@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    Layout = "_Layout"; // Укажите ваш основной макет, если есть
}

<div id="contacts-tab" class="tab-content">
    <div class="container-section">
        <h2 class="info-sections">Контакты</h2>
        <div class="container-row">
            <div class="row-item">
                <img src="https://static.tildacdn.com/tild6130-3364-4032-b837-656364313861/Tilda_Icons_26sn_mai.png" alt="Email" />
                <div class="contact-text">
                    <h3>Email</h3>
                    <p>TTIiP@@mail.ru</p>
                </div>
            </div>
            <div class="row-item">
                <img src="https://cdn1.ozone.ru/s3/multimedia-1-n/6908895311.jpg" alt="Phone" />
                <div class="contact-text">
                    <h3>Телефон</h3>
                    <p>+ (373) 777-77-777</p>
                </div>
            </div>
            <div class="row-item">
                <img src="https://ledoks.ru/image/catalog/phones_icons/158-1580000_location-location-icon-file-png-transparent-png.png" alt="Address" />
                <div class="contact-text">
                    <h3>Адрес</h3>
                    <p>ТТИиП</p>
                </div>
            </div>
        </div>
        <div class="map">
            <script type="text/javascript"
                    charset="utf-8"
                    async
                    src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A2dd2641153eefc74547bd2d50e5f06705ad81a487871c745d8d4ea7955e981a8&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true">
            </script>
        </div>
    </div>
</div>