<div id="main-section">
    <div class="about-section">
        <h2 class="info-sections">В чем наша уникальность?</h2>
        <p>
            Добро пожаловать в "Мир Мебели" — ваш надежный партнер в создании уютного и стильного интерьера!
            Мы предлагаем широкий ассортимент мебели для дома и офиса, который отвечает самым высоким стандартам
            качества и дизайна.
        </p>
        <p>
            В "Мире Мебели" каждый найдет то, что ищет: от удобных диванов и кресел до функциональных шкафов и
            столов. Мы предлагаем мебель, которая будет служить вам долго, а также стильные аксессуары, которые
            помогут завершить образ вашего интерьера.
        </p>
        <p>
            Наша команда профессионалов всегда готова помочь вам выбрать идеальные решения, которые соответствуют
            вашим пожеланиям и бюджету. Мы заботимся о комфорте и удовлетворении наших клиентов, предоставляя не
            только качественную продукцию, но и высокий уровень сервиса, начиная от консультаций и выбора товара
            до доставки и сборки.
        </p>
        <p><strong>Мир Мебели — это не просто магазин, это место, где сбываются мечты о идеальном доме!</strong></p>
    </div>
</div>

<div id="services-section" style="display: none;">
    <div class="container-section">
        <h2 class="info-sections">Области нашего обслуживания</h2>
        <div class="card-container">
            <div class="card">
                <img src="https://i.pinimg.com/736x/2b/42/61/2b4261e64a1ea5ae36f55ea4cc9c2a31.jpg" alt="Card 1">
                <h3>Детская мебель</h3>
                <p>
                    Уют и безопасность для ваших малышей. В ассортименте: кроватки, стульчики, парты, шкафы и всё
                    необходимое для создания идеальной детской комнаты.
                </p>
            </div>
            <div class="card">
                <img src="https://toriani.ru/upload/iblock/f1a/f1a5accfb39f645315f0f41af6fd05f0.jpg" alt="Card 2">
                <h3>Кухонная мебель</h3>
                <p>
                    Функциональность и стиль для вашей кухни. Кухонные гарнитуры, обеденные столы, стулья и модульные
                    системы для удобного хранения.
                </p>
            </div>
            <div class="card">
                <img src="https://msk.alicante.kitchen/wp-content/uploads/2019/09/s1200.jpg" alt="Card 3">
                <h3>Мебель для гостиной</h3>
                <p>
                    Создайте уютную атмосферу в сердце вашего дома. Диваны, кресла, журнальные столики, ТВ-тумбы и
                    многое другое для стильной гостиной.
                </p>
            </div>
            <div class="card">
                <img src="https://i.pinimg.com/736x/f0/71/f8/f071f8da74ae80b7ef97e329410e2fb4.jpg" alt="Card 4">
                <h3>Спальная мебель</h3>
                <p>
                    Комфорт и расслабление для вашего сна. Кровати, гардеробы, тумбочки, комоды и туалетные столики
                    для идеальной спальни.
                </p>
            </div>
            <div class="card">
                <img src="https://itacom.ru/wp-content/uploads/2022/08/office_mariani_kefa_2.jpg" alt="Card 5">
                <h3>Офисная мебель</h3>
                <p>
                    Эргономика и продуктивность для вашего рабочего пространства. Рабочие столы, кресла, офисные
                    шкафы и мебель для переговорных.
                </p>
            </div>
            <div class="card">
                <img src="https://static.insales-cdn.com/images/articles/1/3544/7146968/1664857342_22-amiel-club-p-ikea-mebel-iz-rotanga-pinterest-22.jpg" alt="Card 6">
                <h3>Садовая мебель</h3>
                <p>
                    Отдыхайте на свежем воздухе с комфортом. Шезлонги, столы, стулья и качели, созданные для вашего
                    сада или террасы.
                </p>
            </div>
        </div>

    </div>
</div>
<div id="contact-section" style="display: none;">
    <div class="container-section">
        <h2 class="info-sections">Контакты</h2>
        <div class="container-row">
            <div class="row-item">
                <img src="https://static.tildacdn.com/tild6130-3364-4032-b837-656364313861/Tilda_Icons_26sn_mai.png" alt="Email" />
                <div class="contact-text">
                    <h3>Email</h3>
                    <p>TTIiP@@mail.ru</p>
                </div>
            </div>
            <div class="row-item">
                <img src="https://cdn1.ozone.ru/s3/multimedia-1-n/6908895311.jpg" alt="Phone" />
                <div class="contact-text">
                    <h3>Телефон</h3>
                    <p>+ (373) 777-77-777</p>
                </div>
            </div>
            <div class="row-item">
                <img src="https://ledoks.ru/image/catalog/phones_icons/158-1580000_location-location-icon-file-png-transparent-png.png" alt="Address" />
                <div class="contact-text">
                    <h3>Адрес</h3>
                    <p>ТТИиП</p>
                </div>
            </div>
        </div>
        <div class="map">
            <script type="text/javascript"
                    charset="utf-8"
                    async
                    src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A2dd2641153eefc74547bd2d50e5f06705ad81a487871c745d8d4ea7955e981a8&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true">
            </script>
        </div>
    </div>

</div>
